html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: transparent;
  color: #333;
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.dashboard-container {
  background: linear-gradient(
    90deg,
    rgba(142, 36, 170, 0.2),
    rgba(216, 27, 96, 0.2)
  );
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
}

.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  background: linear-gradient(
    90deg,
    rgba(142, 36, 170, 0.5),
    rgba(216, 27, 96, 0.5)
  );
  border-radius: 8px;
  color: white;
  margin-bottom: 20px;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5px;
}

.header-title {
  /* font-size: 12px; */
  /* text-align: center; */
  font-weight: bold;
  margin: 0;
}

.header-text h2 {
  font-size: 14px;
  margin: 0;
  margin-bottom: 5px;
}

.extension-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none; /* No background */
  border: none; /* No border */
  font-size: 20px; /* Larger size for visibility */
  font-weight: bold;
  color: black; /* White color to match the header */
  cursor: pointer; /* Pointer cursor on hover */
}

.close-button:hover {
  color: #ff6b6b; /* Highlight color on hover */
  transform: scale(1.2); /* Slightly enlarge on hover */
  transition: color 0.3s ease, transform 0.2s ease; /* Smooth transition */
}

.dashboard-nav {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.nav-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #555;
  padding: 5px 10px;
  transition: color 0.3s;
}

.nav-button:hover {
  color: #d81b60;
}

.dashboard-content {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
}

.content-section {
  display: none;
}

.content-section.active {
  display: block;
}

.action-button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 14px;
  color: white;
  background: linear-gradient(90deg, #8e24aa, #d81b60);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.action-button:hover {
  background: linear-gradient(90deg, #d81b60, #8e24aa);
}

.dashboard-footer {
  /* display: flex; */
  /* justify-content: space-around; */
  text-align: center;
  background-color: #ffffff;
  padding: 1px 0;
  /* border-top: 1px solid #ccc; */
}

.footer-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #555;
  transition: color 0.3s;
}

.footer-button:hover {
  color: #d81b60;
}
